nav {
  #nav-left {
    margin: 1rem;
    margin-left: 3rem;

    font {
      font-family: "Libre Baskerville";
      font-weight: bold;
      font-size: 2.5rem;
      color: black;
      width: auto;
      height: 30px;
    }
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 30px;
}
